<!DOCTYPE html>
<html>
	<head>
		<title>Debet Relations</title>
	</head>
	<body>
		<form method="post">
			<label>Name</label>
			<input type="text" name="username"/>
			<br />
			<label>Mail</label>
			<input type="text" name="mail" />
     		<br />
			<input type="submit" name="send" value="войти"/>
		@Html.ActionLink("Регистрация", "Registration")
		</form>
	</body>
</html>
