@using Debt_relations_project_version1.Models;
@model List<Addiction>

@{
	foreach(var addiction in Model)
	{
		<table>
		  <tr>
				<td>@addiction.DependentUser.Name</td>
				<td>@addiction.Debet</td>
				<td>@addiction.Currency</td>
		  </tr>
		</table>
	}
}
