@using Debt_relations_project_version1.Models;
@model List<Addiction>

@{
	foreach(var addiction in Model)
	{
		<table>
		  <tr>
				<td>@addiction.DependentUser.Name</td>
				<td>@addiction.Debet</td>
				<td>@addiction.Currency</td>
		  </tr>
		</table>
	}
}
<div>
	<label>Id Пользлвателя</label>
		<input id="usersId" type="text" />
	<br />
	<lable>Валюта</lable>
		<select id="currency" name="currency">
			<option value="apple">BYN</option>
			<option value="banana">USD</option>
			<option value="orange">EUR</option>
		</select>
	<br />
	<label>Сумма</label>
	<input id="summ" type="text" />
	<input type="button" id="sendBtn" value="Отправить запрос" disabled="disabled" />
	<div id = "requestroom"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
	
</script>
